@import "tailwindcss";

@theme inline {
  --color-background: #fff9eb;
  --color-foreground: #1e1c10;
  --font-sans: "Be Vietnam Pro", sans-serif;
  --font-heading: "Manrope", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: #fff9eb;
    color: #1e1c10;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
}
